.title {
    text-align: center;
    text-decoration: underline;
}

.items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.item {
	width: 32%;
	height: 100%;
    margin-bottom: 50px;
}

.text {
    text-align: center;
}

.text-left {
    float: left;
    margin-left: 20%;
}

.text-right {
    float: right;
    margin-right: 20%;    
}
