.title {
    text-align: center;
    text-decoration: underline;
}

.items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.item {
	width: 32%;
	height: 100%;
    margin-bottom: 50px;
}

.text {
    text-align: center;
}

.text-left {
    float: left;
    margin-left: 20%;
}

.text-right {
    float: right;
    margin-right: 20%;    
}

#calendar1 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar2 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar3 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar4 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar5 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar6 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar7 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar8 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar9 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar10 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar11 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3),
#calendar12 > div.fc-header-toolbar.fc-toolbar > div:nth-child(3)
 {
    display: none;
}